<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activity Recap</title>
    <link th:href="@{indexStyles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Activity Recap</h1>
    <h3>To see your activity recap authorize access to Strava activities.</h3>
    <a class="clickable" href="https://www.strava.com/oauth/authorize?client_id=130646&scope=activity:read_all&redirect_uri=http://localhost:8080/oauth&response_type=code">Authorize access</a>
</div>
</body>
</html>